<div class="tablecontainer" style="width:400px">
  <table class="table table-hover" style="font-size:12px">
    <tbody>
      <tr>
        <td>Servicio</td>
      </tr>
      <tr>
        <td>Código Sevicio: {{parentInfo.codigo}}</td>
      </tr>
      <tr>
        <td>Estado Sevicio: {{parentInfo.estado}}</td>
      </tr>
      <tr>
        <td>Monto Servicio: {{parentInfo.monto}}</td>
      </tr>
      <tr>
        <td>Cliente</td>
      </tr>
      <tr>
        <td>Código Cliente: {{parentInfo.cliente.codigo}}</td>
      </tr>
      <tr>
        <td>Nombre Cliente:{{parentInfo.cliente.nombres}}</td>
      </tr>

    </tbody>
  </table>
  <div></div>

</div>